@page
@model websuli.Pages.Nemet.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>NemetSzo</h4>
<hr />
<h2 class="alert"> @Html.DisplayFor(model=>model.Msg)</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NemetSzo.Nevelo" class="control-label"></label>
                @*<input asp-for="NemetSzo.Nevelo" class="form-control" />*@
                <select asp-for="NemetSzo.Nevelo" class="form-control">
                    <option value=""> </option>
                    <option value="Der">Der</option>
                    <option value="Die">Die</option>
                    <option value="Das">Das</option>
                </select>
                <span asp-validation-for="NemetSzo.Nevelo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NemetSzo.Nemet" class="control-label"></label>
                <input asp-for="NemetSzo.Nemet" lang='de' spellcheck="true" class="form-control" />
                <span asp-validation-for="NemetSzo.Nemet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NemetSzo.Magyar" class="control-label"></label>
                <input asp-for="NemetSzo.Magyar" lang="hu" spellcheck="true" class="form-control" />
                <span asp-validation-for="NemetSzo.Magyar" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="NemetSzo.Feladva" class="control-label"></label>
                    <input asp-for="NemetSzo.Feladva" class="form-control" />
                    <span asp-validation-for="NemetSzo.Feladva" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NemetSzoLista[0].Nevelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NemetSzoLista[0].Nemet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NemetSzoLista[0].Magyar)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.NemetSzo[0].Beiras)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.NemetSzoLista)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nevelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nemet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Magyar)
                    </td>

                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
