@page
@model websuli.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Feladatsor[0].sornev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feladatsor[0].gyerek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feladatsor[0].feladatTipus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feladatsor[0].eredmenypct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feladatsor[0].feladatszam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feladatsor[0].helyescnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feladatsor[0].hibascnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feladatsor[0].kiadasDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feladatsor[0].cnt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Feladatsor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sornev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gyerek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feladatTipus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eredmenypct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feladatszam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.helyescnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hibascnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kiadasDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cnt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FeladatsorID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FeladatsorID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FeladatsorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
