@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Üdvözlöm a Websuliban</h1>
        <h3 class="text-center"> @ViewData["PageMessage"]</h3>
        <h3 class="text-center"> Modellen keresztül  @Model.PageMessage</h3>

        <form method="POST">
            Gyerek neve: @HttpContext.Session.GetString(IndexModel.SessionKeyGyereknev)
            <div> @Html.DisplayNameFor(gm => gm.gyereknev):<input name="gyereknev" class="form-control-lg" width="30" /></div>
            <button type="submit">regisztrál</button>
            <select asp-for="feladattipus" asp-items="Model.FeladatTipusok">  </select>
            <input asp-for="feladatszam" class="form-control-lg" width="30" />
            <input type="text" name="email" />
            <button type=submit asp-page-handler="MatekSetup">Matek</button>
            
            <button type=submit asp-page-handler="MatekSetupParam">Matek</button>
        </form>
        <h3 class="text-center"> @Model.feladattipus</h3>


    </div>
